
.btn-fixed{
	line-height: 1;
	font-family: monospace;
}

.btn-monospace{
	font-family: monospace;
}

.ui-slider-range{
	background-color: #0f0!important;
}

.ui-slider-handle{
	height: 30px!important;
	top: -10px!important;
}

input[type="checkbox"]{
	width: 20px;
	height: 20px;
	border-radius: 5px;
	cursor:pointer;
}