{% extends "base.html" %}

{% block content %}

    {% if media.reader_id == None %}
    <div class="alert alert-info d-flex justify-content-between">
        <div class="d-inline">Medium kann ausgeliehen werden.</div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
            Jetzt ausleihen...
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ media.title }}<div>ausleihen</div></h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-warning d-flex justify-content-between">
        <div class="d-inline"><strong>{{ media.reader.first_name }}, {{ media.reader.last_name }}</strong>
            hat dieses Medium ausgeliehen.</div>
        <a href="{{ url_for('media_back', media_id=media.id) }}" class="btn btn-success">Jetzt zurückgeben</a>
    </div>
    {% endif %}
    <table class="table small">
        <tr>
            <th>Untertitel</th>
            <td>{{ media.subtitle }}</td>
            <td></td>
        </tr>
        <tr>
            <th>Autorin oder Autor</th>
            <td>{{ media.author }}</td>
            <td></td>
        </tr>
        <tr>
            <th>ID</th>
            <td>{{ media.id }} / {{ hex_id }}</td>
            <td class="text-right"><img src="/static/media_barcodes/{{ hex_id }}.svg"></td>
        </tr>
    </table>



{% endblock %}